---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="hero absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">404</h1>
        <p class="text-lg text-neutral-content py-5">
          The page you were looking for doesn't exist.
        </p>
        <a href="/" class="link link-accent">Go back home</a>
      </div>
    </div>
  </div></Layout
>
