---
import {Config} from "~/config.ts";
---

<footer class="pt-5 border-t border-section-divider mb-20">
  <a href={Config.socials.GitHub} target="_blank" rel="noopener noreferrer nofollow"
  area-label={`© Copyright ${new Date().getFullYear()} ${Config.me.name}`}>
    <p class="hover:underline text-[13px] text-center capitalize text-list-date opacity-90 ">© {new Date().getFullYear()} {Config.me.name}</p>
  </a>
</footer>