---
import {Config} from "~/config.ts";
import SocialLinks from '~/components/Header/SocialLinks.tsx'
---

<footer class="pt-5 border-t border-section-divider mb-20 mt-auto">
  <a href={Config.socials.GitHub} target="_blank" rel="noopener noreferrer nofollow"
  area-label={`© Copyright ${new Date().getFullYear()} ${Config.me.name}`}>
    <p class="hover:underline text-[13px] text-center capitalize text-list-date opacity-90 ">© {new Date().getFullYear()} {Config.me.name}</p>
  </a>
  <div class='md:hidden mt-4 grid justify-center items-center opacity-90'>
    <SocialLinks/>
  </div>
</footer>