---
interface Props {
  title: string;
  institute: string;
  years?:string;
  address?:string;
}

const { title, institute, years} = Astro.props;
---

<li class="flex">
  <div class="timeline-block block">
    <div class="mt-1 p-2 flex justify-center rounded-full bg-green-1000 relative z-10">
      <svg class="block" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ffffff" viewBox="0 0 256 256"><path d="M251.76,88.94l-120-64a8,8,0,0,0-7.52,0l-120,64a8,8,0,0,0,0,14.12L32,117.87v48.42a15.91,15.91,0,0,0,4.06,10.65C49.16,191.53,78.51,216,128,216a130,130,0,0,0,48-8.76V240a8,8,0,0,0,16,0V199.51a115.63,115.63,0,0,0,27.94-22.57A15.91,15.91,0,0,0,224,166.29V117.87l27.76-14.81a8,8,0,0,0,0-14.12ZM128,200c-43.27,0-68.72-21.14-80-33.71V126.4l76.24,40.66a8,8,0,0,0,7.52,0L176,143.47v46.34C163.4,195.69,147.52,200,128,200Zm80-33.75a97.83,97.83,0,0,1-16,14.25V134.93l16-8.53ZM188,118.94l-.22-.13-56-29.87a8,8,0,0,0-7.52,14.12L171,128l-43,22.93L25,96,128,41.07,231,96Z"></path></svg>
    </div>
    <span class="bar block h-full w-[2px] translate-x-[17px] bg-green-1000/80"></span>
  </div>
  <div class="timeline-desc bd-grid px-5 pb-5 mt-auto">
    <h3 class="mb-1 text-base md:text-lg font-semibold pt-2">{title}</h3>
    <h4 class="text-sm md:text-base font-normal text-primary/90">{institute}</h4>
    <p class="text-xs my-2 font-light md:text-sm text-justify text-primary/90">{years}</p>
  </div>
</li>
