---
type Props = {
  text: string
  icon: string
  svg: string
}

const { text, icon, svg } = Astro.props
---

<li class="min-w-[147px] lg:min-w-[170px] px-3 py-2 group rounded border flex gap-2 items-center border-primary/50 shadow hover:border-primary-500 hover:bg-highlight blend">
  {icon && (
    <i class={`devicon-${icon} colored`}></i>
  )}
  {svg && (
    <svg height={20} width={20}>
      <use href={`/src/assets/stack.svg#${svg}`}></use>
    </svg>)}
  <span class="text-xs md:text-sm md:whitespace-nowrap text-secondary group-hover:text-highlighted-btn-txt group-hover:font-medium blend">
    {text}
  </span>
</li>